<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>JKG Portfolio</title>

		<!--Import Google Icon Font-->
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>

		<!--Import Materialize CSS -->
		<link
			type="text/css"
			rel="stylesheet"
			href="./css/materialize.min.css"
			media="screen,projection"
		/>

		<!-- Import Font Awesome -->
		<script
			src="https://kit.fontawesome.com/3d80921411.js"
			crossorigin="anonymous"
		></script>

		<!-- Import Locomotive Scroll CSS -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
		/>

		<!-- StyleSheet -->
		<link rel="stylesheet" href="./css/style.css" />

		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>

	<body data-scroll-container>
		<div data-scroll-section id="background"></div>

		<!-- Name -->
		<div data-scroll-section class="flex-start">
			<h1
				style="margin-left: 100px; color: rgb(78, 78, 78)"
				class="fade-in small-space top-space"
				data-scroll
				data-scroll-class="appear"
				data-scroll-repeat="true"
				data-scroll-direction="horizontal"
				data-scroll-speed="-3"
			>
				Kole Gasior
			</h1>
		</div>

		<!-- Role -->
		<div data-scroll-section class="flex-end">
			<h2
				style="margin-right: 100px"
				class="fade-in big-space"
				data-scroll
				data-scroll-class="appear"
				data-scroll-repeat="true"
				data-scroll-direction="horizontal"
				data-scroll-speed="5"
			>
				Full Stack Web Developer
			</h2>
		</div>

		<!-- Greeting -->
		<div data-scroll-section class="flex-center">
			<h2
				id="stick"
				class="fade-in big-space"
				data-scroll
				data-scroll-class="appear"
				data-scroll-repeat="true"
				data-scroll-direction="vertical"
				data-scroll-speed="2"
			>
				Welcome to my portfolio.
			</h2>
		</div>

		<!-- About Me: Profile Picture -->
		<div class="container row valign-wrapper small-space" data-scroll-section>
			<img
				data-scroll
				data-scroll-class="appear"
				data-scroll-repeat="true"
				data-scroll-direction="horizontal"
				data-scroll-speed="-0.5"
				class="col s4 fade-in-fast"
				id="profile-image"
				src="./images/profile-pic.jpg"
				alt="profile-image"
			/>

			<!-- About Me: Brand Statement -->
			<p
				data-scroll
				data-scroll-class="appear"
				data-scroll-repeat="true"
				data-scroll-direction="horizontal"
				data-scroll-speed="0.5"
				class="col s8 fade-in-fast"
				id="brand-statement"
			>
				JavaScript developer leveraging a science background to develop quality
				and user-friendly web applications and websites. Since the beginning of
				2020, I have acquired knowledge and experience with technologies such as
				JavaScript, jQuery, HTML, CSS, React, Redux, Node, Express, MongoDB,
				SQL, ORMs, Templating Engines, and Testing Frameworks. I am currently
				enrolled in a program for Web Development at the Ohio State University
				where I am expanding and polishing my skill set. Prior work and
				educational experience has been formative to my high attention-to-detail
				and degree of accuracy, organizational skills, and critical thinking
				ability which, alongside my proven history of strong work ethic and
				efficiently handling multiple responsibilities, serve to achieve
				challenging and complex objectives such as developing fully-functional,
				intuitive, and engaging web applications. I constantly strive to improve
				my expertise and am eager share my passion with an innovative team
				dedicated to develop and deliver quality applications.
			</p>
		</div>

		<!-- Tech Skills -->
		<div class="container small-space" id="tech-skills" data-scroll-section>
			<h2
				class="center-align fade-in"
				data-scroll
				data-scroll-class="appear"
				data-scroll-repeat="true"
				data-scroll-direction="vertical"
				data-scroll-speed="3"
			>
				Tech Skills
			</h2>
			<div
				class="row fade-in"
				data-scroll
				data-scroll-class="appear"
				data-scroll-repeat="true"
				data-scroll-direction="vertical"
				data-scroll-speed="5"
			>
				<ul class="col s4">
					<li class="center-align">HTML</li>
					<li class="center-align">CSS</li>
					<li class="center-align">JavaScript</li>
					<li class="center-align">jQuery</li>
					<li class="center-align">React</li>
					<li class="center-align">Redux</li>
				</ul>
				<ul class="col s4">
					<li class="center-align">Node</li>
					<li class="center-align">Express</li>
					<li class="center-align">Handlebars/EJS</li>
					<li class="center-align">MongoDB</li>
					<li class="center-align">Mongoose</li>
					<li class="center-align">Passport</li>
				</ul>
				<ul class="col s4">
					<li class="center-align">SQL</li>
					<li class="center-align">mySQL</li>
					<li class="center-align">Sequelize</li>
					<li class="center-align">Jest</li>
					<li class="center-align">Enzyme</li>
				</ul>
			</div>
		</div>

		<!-- Projects -->
		<div data-scroll-section>
			<h2
				class="fade-in"
				style="padding-left: 250px"
				data-scroll
				data-scroll-class="appear"
				data-scroll-repeat="true"
				data-scroll-direction="horizontal"
				data-scroll-speed="-7"
			>
				My Work
			</h2>
			<div id="dropdown-container">
				<select>
					<option value="" disabled selected>Filter by Technology</option>
					<option value="*">All</option>
					<option value="Jquery">jQuery</option>
					<option value="React">React</option>
					<option value="Redux">Redux</option>
					<option value="Node">Node</option>
					<option value="Express">Express</option>
					<option value="Handlebars">Handlebars</option>
					<option value="Mongodb">MongoDB</option>
					<option value="Mongoose">Mongoose</option>
					<option value="Passport">Passport</option>
					<option value="Sql">SQL</option>
					<option value="Mysql">mySQL</option>
					<option value="Sequelize">Sequelize</option>
					<option value="Jest">Jest</option>
					<option value="Enzyme">Enzyme</option>
				</select>
			</div>

			<div
				id="my-projects"
				data-scroll
				data-scroll-class="appear"
				data-scroll-repeat="true"
				data-scroll-direction="vertical"
				data-scroll-speed="2"
				class="grid fade-in"
			>
				<% projects.forEach(function(project) { %> <% var techList = '' %> <%
				project.technology.forEach(function(tech) { %> <% techList += tech + " "
				%> <% }) %>
				<div data-tech="<%= techList%>" class="card grid-item">
					<div class="content">
						<img
							class="front project-image"
							src="data:image/png;base64,<%= project.image.toString('base64') %>"
						/>
						<div class="back">
							<% if (project.title) { %>
							<p class="project-title"><%= project.title %></p>
							<% } %> <% if (project.description) { %>
							<p><%= project.description %></p>
							<% } %> <% if (project.github) { %>
							<p>
								<a href="<%= project.github %>" target="_blank"
									><i style="font-size: 2rem" class="fab fa-github"></i
								></a>
							</p>
							<% } %> <% if (project.project_link) { %>
							<p>
								<a
									href="<%= project.project_link %>"
									target="_blank"
									class="btn-small grey darken-3 grey-text text-lighten-2"
									>View Project</a
								>
							</p>
							<% } %> <% if (project.technology.length) { %>
							<p class="header-tech">Technology</p>
							<ul>
								<% project.technology.forEach(function(tech) { %>
								<li><%= tech %></li>
								<% }) %>
							</ul>
							<% } %>
						</div>
					</div>
				</div>
				<% }); %>
			</div>
		</div>

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- Locomotive Scroll -->
		<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
		<!-- Materialize CSS JavaScript -->
		<script type="text/javascript" src="./js/materialize.min.js"></script>
		<!-- Isotope JavaScript -->
		<script src="./js/isotope.pkgd.min.js"></script>
		<script src="./js/packery-mode.pkgd.min.js"></script>
		<!-- Front-End JavaScript -->
		<script src="./js/index.js"></script>
	</body>
</html>
